.panel {
    background-color: #eee;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px;
}
.panel-danger h3 {
    color: #b92020;
}
.wy-side-nav-search, .wy-nav-top {
    background-color: #e68821;

}
.wy-side-nav-search input[type=text] {
    border-color:  #c1731c;
}

.wy-menu-vertical .subnav .caption-text {
    padding: 0.4045em 2.427em;
}

.wy-menu-vertical .toctree-l1 > ul.subnav > li.current {
    /*background: transparent;*/
}

.wy-menu-vertical li ul.subnav ul.subnav {
    padding-left: 0;
}

.wy-menu-vertical li ul.subnav ul.subnav a{
    padding-left: 3.25em;
}

.wy-menu-vertical li ul.subnav ul.subnav ul.subnav {
    padding-left: 1em;
}

.fade.in {
    opacity: 1;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.optional {
	background-color: #006400;
	color: #FFF
}

.get-icon {
	background-color: #002964;
	color: #FFF;
	vertical-align: top;
}

.post-icon {
	background-color: #0ebd01;
	color: #FFF;
	vertical-align: top;
}

.mr {
	margin-right: 7px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     #oxipay-img{
     top: 0px !important;
     }
}

/*.wy-side-nav-search img {
  background-color: #343131 !important;
  border-radius: 0 !important;
  width: 250px !important;
  height: auto !important;
  margin: 0px !important;
}

.wy-side-nav-search>a {
  margin-bottom: 0em !important; 
}*/
